.filters{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding: 1.2rem;
  margin: 3rem 1rem;
  border-radius: 8px;
  background-color: #b6b3b3;
}

.filterForm{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-items: center;
  gap:1rem;

  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.filters p{
  font-size:1.1rem;
  font-weight:bold;
}
.filterForm input, .filterForm select{
  width:100%;
  height:40px;
  border:1px solid black;
  border-radius:5px;
  padding:5px;
  font-size: .9rem;
}

.filters button{
  background-color: #008CBA;
  color: white;
  /* background-color: white;
  color: black; */
  border: 2px solid #008CBA; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-weight:bold;
  cursor:pointer;
  transition: all .5s ease;
}

.filters button:hover{
  background-color: white;
  color: black;
}